/* BarraDeBusqueda.css */

.barra-de-busqueda {
  color: #FFFFFF !important;
  display: flex !important;
  align-items: center !important;
  transition: width 0.4s ease, opacity 0.4s ease !important;
  width: 110px !important;
  overflow: hidden !important;
  gap: 5px;
}

.barra-de-busqueda.expandido {
  color: #FFFFFF !important;
  width: 250px !important; /* Ancho cuando está expandida */
}

.input-busqueda {
  background-color: #FFFFFF;
  border: none !important;
  outline: none !important;
  padding: 5px !important;
  width: 100% !important;
  font-size: 0.9rem !important;
  border-radius: 20px;
}

.boton-lupa {
  color: #FFFFFF !important;
  cursor: pointer !important;
  padding: 5px !important;
  
}
.boton-lupa:hover {
  color: #FFD700 !important; /* Dorado para resaltar al pasar el cursor */
}
.texto-buscar {
  font-size: 0.95rem; /* Tamaño más pequeño */
  font-family: 'Roboto', sans-serif; /* Fuente estilizada, puedes cambiarla si tienes otra preferencia */
  font-weight: bold; /* Peso de fuente ligero para un aspecto más elegante */
  color: #FFFFFF;
  letter-spacing: 0.5px; /* Espaciado entre letras para mejorar la legibilidad */
  transition: opacity 0.4s ease;
  opacity: 1;
}

