/* Estilos para la barra de búsqueda */
.barra-de-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
}

.input-busqueda {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-busqueda:focus {
  outline: none;
  border-color: #28a745;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

.boton-busqueda {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.boton-busqueda:hover {
  background-color: #218838;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
