/* Encabezado.css */

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Desplazamiento hacia arriba para un efecto más suave */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar animación de aparición a los elementos del encabezado */
.encabezado, .encabezado-title, .navbar-links, .nav-button, .menu-item {
  animation: fadeIn 0.8s ease-in-out forwards !important;
}

/* Estilo para el AppBar en Azul Marino */
.encabezado {
  background-color: #002855 !important;
}

/* Estilo para el título de la página */
.encabezado-title {
  color: #FFFFFF !important;
  text-decoration: none !important;
  flex-grow: 1 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-right: auto !important;

}

/* Estilo para la barra de navegación */
.navbar-links {
  display: flex !important;
  gap: 20px !important; /* Espacio entre los enlaces */
  justify-content: space-evenly !important;
  align-items: center !important;
  flex-grow: 1 !important;
  position: absolute !important;
  transform: translateX(50%) !important;
  margin-right: 90% !important;
  margin-left: -25%;
}

/* Estilo para los botones de navegación */
.nav-button {
  color: #FFFFFF !important;
  transition: color 0.3s ease !important;
  font-weight: 500 !important;
  white-space: nowrap;
}

.nav-button:hover {
  color: #FFD700 !important; /* Dorado para resaltar al pasar el cursor */
}

/* Estilo para el menú desplegable */
.menu-item {
  color: #002855 !important;
  transition: background-color 0.3s ease !important;
}

.menu-item:hover {
  background-color: #F5F5F5 !important; /* Gris claro para efecto hover */
  color: #BA0C2F !important; /* Rojo para destacar el texto en hover */
}
