.gestion-estudiantes-container {
    inline-size: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .titulo-gestion {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-block-end: 20px;
    text-align: center;
  }
  
  .add-estudiante-btn, .add-tesis-btn {
    background-color: #3f51b5 !important;
    color: white !important;
    margin: 10px !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    transition: transform 0.3s ease !important;
  }
  
  .add-estudiante-btn:hover, .add-tesis-btn:hover {
    transform: scale(1.05) !important;
  }
  
  
  .grid-estudiantes {
    inline-size: 100%;
    max-inline-size: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .card {
    border-radius: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s ease !important;
    overflow: hidden;
  }
  .card:hover {
    transform: translateY(-9px) !important;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-block-start: 10px;
  }
  
  .dialog .MuiDialog-paper {
    padding: 20px !important;
    border-radius: 15px !important;
    max-inline-size: 500px !important;
    inline-size: 100% !important;
    background-color: rgba(255, 255, 255, 0.9) !important; /* Fondo semitransparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3) !important;
    margin: auto !important; /* Centrado */
  }
  
  .dialog-title {
    font-size: 24px !important;
    font-weight: bold !important;
    color: #333333 !important;
    text-align: center !important;
    margin-block-end: 10px !important;
  }
  
  .button-cancelar, .button-guardar {
    border-radius: 20px !important;
    padding: 8px 16px !important;
    font-weight: bold !important;
  }
  
  .button-cancelar {
    background-color: #f44336 !important;
    color: white !important;
  }
  
  .button-cancelar:hover {
    background-color: #d32f2f !important;
  }
  
  .button-guardar {
    background-color: #4CAF50 !important;
    color: white !important;
  }
  
  .button-guardar:hover {
    background-color: #388E3C !important;
  }
  
  .text-field, .select-field, .switch-update-foto {
    margin-block-end: 15px !important;
  }
  